<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel = "stylesheet" href = "/css/in.css">
</head>
<body>
<div class="header">
    <form action="#" th:action="@{/home}" th:method="get">
        <input type="submit" value="Главная">
    </form>
    <form action="#" th:action="@{/listList}" th:method="get">
        <input type="submit" value="Товары">
    </form>
    <form action="#" th:action="@{/api/v1/cart}"  th:method="get">
        <input type="submit" value="Корзина">
        <input id="resultInput" type="text" size="4">
    </form>
    <form action="#" th:action="@{/greeting}" th:method="get">
        <input type="submit" value="Регистрация">
    </form>
</div>
<div class ="block">
    <div class="box">
<h1>Корзина</h1>
        <table>
<tr th:each = "product: ${products}">
    <td th:text = "${product.id}"/>
    <td th:text = "${product.name}"/>
    <td th:text = "${product.price}"/>
</tr>
        </table>
    </div>
</div>
<div class="footer">
<form action="#" th:action="@{/home}" th:method="get">
    <input type="submit" value="Главная">
</form>
<form action="#" th:action="@{/listList}" th:method="get">
    <input type="submit" value="Товары">
</form>
<form action="#" th:action="@{/api/v1/cart}"  th:method="get">
    <input type="submit" value="Корзина">
</form>
<form action="#" th:action="@{/greeting}" th:method="get">
    <input type="submit" value="Регистрация">
</form>
<br>
<br>
<div class = "copy"> Copyright &copy; <?php echo date("Y");?> Angelina Kosenko</div>
</div>
</body>
</html>