<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>Products</h1>
<table>
    <tr th:each = "product: ${products}">
        <td th:text = "${product.id}"/>
        <td th:text = "${product.name}"/>
        <td th:text = "${product.price}"/>
        <td>
            <form action="#" th:action="@{'/api/v1/cart/{id}'(id=${product.id})}" th:method="post">
                <input type="hidden" name="_method" value="add to cart" />
                <button type="submit" id="submitButton"> </button>
            </form>
        </td>
    </tr>
</table>
<br>
<form action="#" th:action="@{/api/v1/cart}" th:method="get">
    <input type="submit" value="Show cart">
</form>
</body>
</html>